.sorteiaai-btn{
	margin-top: 15px;
	float: right;
}
.last-number{
	text-align: center;
	font-size: 150px;
	padding: 47px 0 0 0;
	margin-bottom: 63px;
}
.last-list{
	text-align: center;
	font-size: 60px;
	padding: 47px 0 0 0;
	margin-bottom: 63px;
	white-space: nowrap;
}
.sorteiaai-input-textarea{
	width: 100%;
}