body {
  padding-top: 50px;
}
.content {
  padding: 40px 15px;
  text-align: center;
}

.result-number{
	margin-top: 5px;
}
.result-number ul li{
	display: inline;	
	font-size: 50px;
}
.result-number ul:first-child li:not(:last-child):after{		
	content: ", ";
}

.last-number  {
	font-size: 150px;
	text-shadow: 1px 3px 3pt gray;
}

.content .panel{
	text-align: left;
}

.vertical-align{
	padding-top: 28px;
}

.input-number{
	font-size: 14px;
	width: 80px;
	text-align: center;
}
.input-textarea{
	width: 100%;
}
.label-number{
	font-size: 14px;
}
.panel-body > .row{
	text-align: left;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  margin: 10px !important;
}