body {
	padding-top: 50px;
}
.content {
	/*padding: 40px 15px;*/
	text-align: center;
}

.result-number{
	/*margin-top: 5px;*/
}
.result-number ul li{
	display: inline;	
	font-size: 50px;
}
.result-number ul:first-child li:not(:last-child):after{		
	content: ", ";
}

.last-number  {
	font-size: 150px;
	text-shadow: 1px 3px 3pt gray;
}

.content .panel{
	text-align: left;
}

.vertical-align{
	padding-top: 28px;
}

.input-number{
	font-size: 14px;
	width: 80px;
	text-align: center;
}
.input-textarea{
	width: 100%;
}
.label-number{
	font-size: 14px;
}
.panel-body > .row{
	text-align: left;
}
input[type=checkbox]
{
	/* Double-sized Checkboxes */
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	margin-right: 5px !important;	
}
.checkbox{
	margin-left: 6px;
}

.raffle-card-btn {
	display: inline-block;
	border: 1px solid;
	width: 16%;
	height: 50px;
	line-height: 50px;
	background-color: rgba(15,180,231,1);
	color: #FFF;	
	cursor: pointer;
	padding: 0;
}
.raffle-card-btn a{
	color: #FFF;	
	text-decoration: none;	
	display: block;
}
.raffle-card-btn:hover, .raffle-card {
	color: #FFF;
	text-decoration: none;	
}
.raffle-card-btn:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a9e4f7+0,0fb4e7+100;Ble+3D+%235 */
	background: rgb(169,228,247); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(169,228,247,1) 0%, rgba(15,180,231,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,228,247,1)), color-stop(100%,rgba(15,180,231,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */
}
.raffle-card-btn:active{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7fbfc+0,d9edf2+40,add9e4+100;Blue+3D+%231 */
	background: rgb(247,251,252); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(247,251,252,1) 0%, rgba(217,237,242,1) 40%, rgba(173,217,228,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,251,252,1)), color-stop(40%,rgba(217,237,242,1)), color-stop(100%,rgba(173,217,228,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#add9e4',GradientType=0 ); /* IE6-9 */
}

.error{
	color: #f00;
}
.form-group input[type=button]{
	margin-top: 5px;
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.raffle-card-btn a{
		font-size: 14px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.raffle-card-btn a{
		font-size: 20px;
	}	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.raffle-card-btn a{
		font-size: 30px;
	}
}

@media screen and (min-width: 380px) {

	.raffle-card-btn a{		
		font-size: 25px;
	}
	.h1, h1{
		font-size: 27px !important;
	} 
}




