<div class="content">

	<div class="page-header">
		<h1>Conheça mais sobre o projeto.</h1>
	</div>
	<article>
		<p>
			O SorteiaAI é uma plataforma de sorteio online, parte do seu código fonte é aberto, o que possiblita outras pessoas ajudarem no seu desenvolvimento.			
		</p>
		<p>O código encontra-se no <a href="https://github.com/jonatan2m/sorteiaai" title="Repositório onde o SorteiaAI está hospedado..">GitHub</a>.</p>

		<p>
			Todos os sorteios podem ser salvos para consultas futuras ou até mesmo para que você envie o link do resultado à todas as pessoas que participaram do sorteio.
		</p>		

		<p>
			Qualquer dúvida ou sugestão, pode entrar em contato pela página do repositório ou pelo email: jonatan.mac@gmail.com.
		</p>	
		<p>Obrigado! Jonatan Machado.</p>
	</article>
</div>