<div class="content" ng-controller="HomeController as home">

	<div class="page-header">
		<h1>Qual tipo de sorteio você está procurando?</h1>
	</div>
	<a href="#/number" class="raffle-card-btn" title="Defina um intervalo de números e sorteiaAI.">
		<div>Números</div>
	</a>
	<a href="#/list" class="raffle-card-btn" title="Insira sua lista de nomes ou emails e sorteiaAI.">
		<div>Lista</div>
	</a>	
	<a href="#/about" class="raffle-card-btn suggestion" title="Procurando outro tipo? clique para saber mais.">
		<div>Outro Tipo</div>
	</a>	
</div>