<div class="content" ng-controller="HomeController as home">

	<div class="page-header">
		<h1>Qual tipo de sorteio você está procurando?</h1>
	</div>
	<div class="row">
  		<div class="col-xs-12 col-md-4 col-md-offset-2 col-lg-3 col-lg-offset-3 raffle-card-btn">
  			<a href="#/number" title="Defina um intervalo de números e sorteiaAI.">
  				Números
			</a>
		</div>
  		<div class="col-xs-12 col-md-4 col-lg-3 raffle-card-btn">
  			<a href="#/list" title="Insira sua lista de nomes ou emails e sorteiaAI.">
				Lista
			</a>
  		</div>  		
	</div>
</div>
