<div class="row" ng-controller="HomeController as home">   
     <div class="col-md-12 wow zoomIn">
        <div class="block">        
            <div class="counter">
                <h2>Para sortear, acesse o menu. Ainda estamos acertando as coisas por aqui. ;D</h2>
                <ul id="countdown_dashboard">
                    <li>
                        <div class="dash days_dash">
                            <div class="digit">0</div>
                            <div class="digit">0</div>
                            <div class="digit">0</div>
                            <span class="dash_title">Days</span>
                        </div>
                    </li>
                    <li>
                        <div class="dash hours_dash">
                            <div class="digit">0</div>
                            <div class="digit">0</div>
                            <span class="dash_title">Hours</span>
                        </div>
                    </li>
                    <li>
                        <div class="dash minutes_dash">
                            <div class="digit">0</div>
                            <div class="digit">0</div>
                            <span class="dash_title">Minutes</span>
                        </div>
                    </li>
                    <li>
                        <div class="dash seconds_dash">
                            <div class="digit">0</div>
                            <div class="digit">0</div>
                            <span class="dash_title">Seconds</span>
                        </div>
                    </li>                    
                </ul>             
            </div>
        </div>
    </div>
</div><!-- .row close -->
