<div class="row" ng-controller="IndexController as index">
    <div class="col-md-6">
        <div class="content-block">
            <h1 class="wow fadeInDown">Sorteiaai</h1>
            <p class="wow fadeInDown" data-wow-delay="0.3s">Uma nova abordagem para plataforma de sorteios online.</p>
            <p class="wow fadeInDown" data-wow-delay="0.3s"> Você vai se surpreender!</p>
            <div class="wow fadeInDown" data-wow-delay="0.3s">
            	<a class="btn btn-default btn-home" href="#sorteios" role="button">Quero Sortear</a>
            </div>
        </div>
    </div>     
    <div class="col-md-6 wow zoomIn">
        <div class="block">        
            <div class="counter">
                <h2>Para acessar seu perfil é necessário estar logado.</h2>
                
                <button class="btn btn-large btn-google-plus btn-block" type="button" data-ng-click="index.connect('Google')"><i class="fa fa-google-plus"></i> | Conectar com Google+</button>
            </div>
        </div>
    </div>
</div><!-- .row close -->
