<div class="content" ng-controller="ListController as list">
	<div class="page-header">
		<h1>Sorteio de Lista de Nomes</h1>
	</div>
	<div class="panel-body">
		<div class="row">
			<form name="myForm" novalidate>
				<div ng-show="list.config.show" class="col-md-6 col-md-offset-3">
					<div class="col-md-12">
						<div class="form-group">							
							<label>Preencha o campo abaixo com os nomes, emails ou qualquer outro parâmentro que você deseje usar como base para o sorteio: </label>	
							<p><small>Apenas 1 item por linha.</small></p>
						</div>							
					</div>						
				
					<div class="col-md-12">
						<div class="form-group">							
							<textarea wrap="hard" class="input-textarea" rows="10"  ng-model="list.inputValues"></textarea>
						</div>							
						<span class="error">{{list.fillText}}</span>
					</div>		

					<div class="form-group">
						<div class="col-md-12">
							<div class="checkbox">
								<label for="repeatNumber">
									<input type="checkbox" name="repeatNumber" ng-model="list.instance.config.canRepeatNumber" />Com repetição.
								</label>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-md-12">
							<div class="checkbox">
								<label for="autorafle">
									<input type="checkbox" id="autorafle" ng-model="list.instance.automaticRun.enable" />Sortear números automaticamente.
								</label>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-md-6" ng-show="list.instance.automaticRun.enable">						
							<label for="autoLimit">Quantidade de números: </label>
							<input type="number" class="form-control" max="{{list.automaticQuantityValidator()}}" min="1" step="1" ng-model="list.instance.automaticRun.automaticQuantity" name="autoLimit" />
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-md-12" ng-show="list.instance.automaticRun.enable">
							<label for="ticksPerSecond">Intervalo entre os sorteios (em segundos): </label>
							<input type="number" min="1" max="5" class="form-control" step="1" ng-model="list.instance.automaticRun.automaticInterval" name="ticksPerSecond" />
						</div>
					</div>						
					
					<div class="form-group">
						<div class="col-md-12">
							<input type="button" id="btnRaffle" ng-click="list.start()" class="form-control btn btn-primary"  value="Começar" />
						</div>
					</div>							
				</div>
				<div ng-show="!list.config.show" class="col-md-6 col-md-offset-3">
					<div class="form-group">
						<div class="col-md-12">
							<label class="last-number">{{list.last}}</label>
							<input type="button" id="btnRaffle" ng-click="list.next()" ng-disabled="!list.enableButton" class="btn btn-primary btn-lg"  value="Sortear" />
							<div class="panel panel-default result-number">
							<h3 class="panel-header">Resultado:</h3>
								<div class="panel-body">
									<div class="row">			
										<div>
											<ul>
												<li ng-repeat="r in list.results track by $index">{{r}}</li>
											</ul>
										</div>
									</div>
								</div>
							</div>		
							<input type="button" ng-click="list.save()" ng-disabled="list.results.length == 0" class="btn btn-lg" title="Se o sorteio acabou, você pode salvar o resultado clicando neste botão para consultas futuras." value="Clique para salvar o resultado" />
						</div>
					</div>													
				</div>	
			</form>				
		</div>		
	</div>		
</div>