<div class="content" ng-controller="NumberController as number">
	<div class="page-header">
		<h1>Sorteio de Números</h1>
	</div>		
	<div class="panel-body">
		<div class="row">
			<form name="myForm" novalidate>
				<div ng-show="number.config.show" class="col-md-6 col-md-offset-3">
					<div class="col-md-6">
						<div class="form-group">
							<label for="min_range">De: </label>						
							<input type="number" class="form-control" placeholder="Início" min="0" ng-model="number.instance.config.begin" name="min_range" />		
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="max_range">Até: </label>
							<input type="number" class="form-control" min="{{number.instance.config.begin + 1}}" placeholder="Fim" ng-model="number.instance.config.end" name="max_range" />
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-md-12">
							<div class="checkbox">
								<label for="repeatNumber">
									<input type="checkbox" name="repeatNumber" ng-model="number.instance.config.canRepeatNumber" />Com repetição.
								</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="checkbox">
								<label for="autorafle">
									<input type="checkbox" id="autorafle" ng-model="number.instance.automaticRun.enable" />Sortear números automaticamente.
								</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-6" ng-show="number.instance.automaticRun.enable">						
							<label for="autoLimit">Quantidade de números: </label>
							<input type="number" class="form-control" max="{{number.instance.config.end - number.instance.config.begin}}" min="1" step="1" ng-model="number.instance.automaticRun.automaticQuantity" name="autoLimit" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12" ng-show="number.instance.automaticRun.enable">
							<label for="ticksPerSecond">Intervalo entre os sorteios (em segundos): </label>
							<input type="number" min="1" max="5" class="form-control" step="1" ng-model="number.instance.automaticRun.automaticInterval" name="ticksPerSecond" />
						</div>
					</div>	

					<div class="form-group">
						<div class="col-md-12">
							<input type="button" id="btnRaffle" ng-click="number.start()" class="form-control btn btn-primary"  value="Começar" />
						</div>
					</div>		
				</div>	
				<div ng-show="!number.config.show" class="col-md-6 col-md-offset-3">
					<div class="form-group">
						<div class="col-md-12">
							<label class="last-number">{{number.last}}</label>
							<input type="button" id="btnRaffle" ng-click="number.next()" ng-disabled="!number.enableButton" class="btn btn-primary btn-lg"  value="Sortear" />
							<div class="panel panel-default result-number">
								<h3 class="panel-header">Resultado:</h3>
								<div class="panel-body">
									<div class="row">			
										<div>
											<ul>
												<li ng-repeat="r in number.results track by $index">{{r}}</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<input type="button" ng-click="number.save()" ng-disabled="number.results.length == 0" class="btn btn-lg" title="Se o sorteio acabou, você pode salvar o resultado clicando neste botão para consultas futuras." value="Clique para salvar o resultado" />
						</div>
					</div>
				</div>				
			</div>					
		</form>
	</div>				
</div>